{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
    <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            {% include 'inc/messages.html' %}
            <!-- begin:: Subheader -->
            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Profile</h3>
                    <div class="kt-subheader__breadcrumbs">
                        <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link">{{user.username|capfirst}}</a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a href="" class="kt-subheader__breadcrumbs-link"></a>
                    </div>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <a href="#" class="btn kt-subheader__btn-secondary">
                            Reports
                        </a>
                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions"
                             data-placement="top">
                            <a href="#" class="btn btn-danger kt-subheader__btn-options"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="la la-plus"></i> New Product</a>
                                <a class="dropdown-item" href="#"><i class="la la-user"></i> New Order</a>
                                <a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New
                                    Download</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: Subheader -->
            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid">
                <!--Begin::Dashboard 4-->
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-6">
                        <!--begin:: Widgets/Quick Stats-->
                        <div class="row row-full-height">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-brand">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget26">
                                            <div class="kt-widget26__content">
                                                <span class="kt-widget26__number">570</span>
                                                <span class="kt-widget26__desc">Total Sales</span>
                                            </div>
                                            <div class="kt-widget26__chart"
                                                 style="height:100px; width: 230px;">
                                                <canvas id="kt_chart_quick_stats_1"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-space-20"></div>
                                <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-danger">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget26">
                                            <div class="kt-widget26__content">
                                                <span class="kt-widget26__number">640</span>
                                                <span class="kt-widget26__desc">Completed Transactions</span>
                                            </div>
                                            <div class="kt-widget26__chart"
                                                 style="height:100px; width: 230px;">
                                                <canvas id="kt_chart_quick_stats_2"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-success">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget26">
                                            <div class="kt-widget26__content">
                                                <span class="kt-widget26__number">234+</span>
                                                <span class="kt-widget26__desc">Transactions</span>
                                            </div>
                                            <div class="kt-widget26__chart"
                                                 style="height:100px; width: 230px;">
                                                <canvas id="kt_chart_quick_stats_3"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-space-20"></div>
                                <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-warning">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget26">
                                            <div class="kt-widget26__content">
                                                <span class="kt-widget26__number">4.4M$</span>
                                                <span class="kt-widget26__desc">Paid Comissions</span>
                                            </div>
                                            <div class="kt-widget26__chart"
                                                 style="height:100px; width: 230px;">
                                                <canvas id="kt_chart_quick_stats_4"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Quick Stats-->
                    </div>
                    <div class="col-xl-6">

                        <!--begin:: Widgets/Order Statistics-->
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Profile Detail
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle"
                                       data-toggle="dropdown">
                                        Export
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

                                        <!--begin::Nav-->
                                        <ul class="kt-nav">
                                            <li class="kt-nav__head">
                                                Export Options
                                                <i class="flaticon2-information" data-toggle="kt-tooltip"
                                                   data-placement="right"
                                                   title="Click to learn more..."></i>
                                            </li>
                                            <li class="kt-nav__separator"></li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                    <span class="kt-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                    <span class="kt-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-link"></i>
                                                    <span class="kt-nav__link-text">Settings</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                    <span class="kt-nav__link-text">Support</span>
                                                    <span class="kt-nav__link-badge">
																			<span class="kt-badge kt-badge--success">5</span>
																		</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__separator"></li>
                                            <li class="kt-nav__foot">
                                                <a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade
                                                    plan</a>
                                                <a class="btn btn-clean btn-bold btn-sm" href="#"
                                                   data-toggle="kt-tooltip" data-placement="right"
                                                   title="Click to learn more...">Learn more</a>
                                            </li>
                                        </ul>

                                        <!--end::Nav-->
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget12">
                                    <div class="kt-widget12__content">
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Username</span>
                                                <span class="kt-widget12__value">{{user.username}}</span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Email</span>
                                                <span class="kt-widget12__value">{{user.email}}</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Avarage Revenue</span>
                                                <span class="kt-widget12__value">$60M</span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Revenue Margin</span>
                                                <div class="kt-widget12__progress">
                                                    <div class="progress kt-progress--sm">
                                                        <div class="progress-bar kt-bg-brand"
                                                             role="progressbar" style="width: 40%;"
                                                             aria-valuenow="100" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="kt-widget12__stat">
																			40%
																		</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-widget12__chart" style="height:250px;">
                                        <canvas id="kt_chart_order_statistics"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:: Widgets/Order Statistics-->
                    </div>

                </div>
                <!--End::Section-->
                <!--Begin::Section-->
                <div class="row">
                    <div class="col-xl-12">
                        <!--begin:: Widgets/Sale Reports-->
                        <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {{user.username}} Article
                                    </h3>
                                </div>

                            </div>
                            <div class="kt-portlet__body">
                                <!--Begin::Tab Content-->
                                <div class="tab-content">
                                    <!--begin::tab 1 content-->
                                    <div class="tab-pane active" id="kt_widget11_tab1_content">
                                        <!--begin::Widget 11-->
                                        <div class="kt-widget11">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <td style="width:1%">#</td>
                                                        <td style="width:30%">Title</td>
                                                        <td style="width:10%">Owner</td>
                                                        <td style="width:30%">Content</td>
                                                        <td style="width:15%">Status</td>
                                                        <td style="width:15%" class="kt-align-right">Last Change</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for u_art in user_article %}
                                                    <tr>
                                                        <td>
                                                            <label class="kt-checkbox kt-checkbox--single">
                                                                <input type="checkbox"><span></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'article:detail_article' u_art.id %}" class="kt-widget11__title">{{ u_art.title }}</a>
                                                            <span class="kt-widget11__sub">{{ u_art.slug }}</span>
                                                        </td>
                                                        <td>{{ u_art.user.username }}</td>
                                                        <td>{{ u_art.body|truncatewords:5 }}</td>
                                                        <td>
                                                            <span class="kt-badge kt-badge--inline kt-badge--brand">new</span>
                                                        </td>
                                                        <td class="kt-align-right kt-font-brand kt-font-bold">
                                                            {{ u_art.updated }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="kt-widget11__action kt-align-right">
                                                <button type="button"
                                                        class="btn btn-label-brand btn-bold btn-sm">Import
                                                    Report
                                                </button>
                                            </div>
                                        </div>

                                        <!--end::Widget 11-->
                                    </div>
                                    <!--end::tab 1 content-->
                                    <!--begin::tab 2 content-->

                                    <!--end::tab 2 content-->
                                    <!--begin::tab 3 content-->

                                    <!--end::tab 3 content-->
                                </div>
                                <!--End::Tab Content-->
                            </div>
                        </div>
                        <!--end:: Widgets/Sale Reports-->
                    </div>

                </div>

                <!--End::Section-->

                <!--Begin::Section-->


                <!--End::Section-->

                <!--Begin::Section-->


                <!--End::Section-->

                <!--Begin::Section-->
                

                <!--End::Section-->

                <!--End::Dashboard 4-->
            </div>
            <!-- end:: Content -->
        </div>
    </div>
</div>
{% endblock %}